<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="applicationName" source="spring.application.name" defaultValue="UNKNOWN" />

    <!-- 1. CONSOLE APPENDER (with color highlighting) -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] [%X{traceId}-%X{spanId}] %-5level ${applicationName}-%logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 2. ROLLING FILE APPENDER (Daily rollover & 10MB limit per file) -->
    <appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- Rollover policy -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Rollover daily and compress (.gz) old logs -->
            <fileNamePattern>logs/${applicationName}/application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- Max file size before creating a new partition index (%i) -->
            <maxFileSize>10MB</maxFileSize>
            <!-- Keep 30 days of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] [%X{traceId}-%X{spanId}] %-5level ${applicationName}-%logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ROLLING-FILE" />
    </root>

</configuration>
